/* Basic */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

html
{
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(224, 224, 255);
    height: 100%;
    width: 100%;
    margin: 0;
}


/* Headers */

.navbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-container {
    overflow: hidden; /* without this, the div has no height */
}

.headers {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-container a {
    float: left;
    color: black;
    margin: 12px;
    text-decoration: none;
}

.navbar a:hover {
    transform: scale(1.2) translateY(-3%);
}

.navbar a.active {
    color: #002fff;
}

/* Intro */

.first-div {
    padding-top: 5%;
    padding-bottom: 5%;
}

.centered-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 10%;
}

.info {
    display: inline-block;
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 100%;
}

.icons a {
    display: inline-block;
}

.icons a:hover {
    transform: scale(1.15) translateY(-3%);
}

.icon {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    column-gap: 5%;
    row-gap: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button {
    border: 1px solid #007bff;
    text-decoration: none;
    padding: 8px 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px #bbb;
    -moz-box-shadow: 2px 2px 2px #bbb;
    -webkit-box-shadow: 2px 2px 2px #bbb;
    -khtml-box-shadow: 2px 2px 2px #bbb;
}

.button:hover {
    transform: scale(1.02) translateY(-3%);
}

.button-filled {
    background-color: #007bff;
    color: white;
}

.button-outlined {
    color: #007bff;
}

.rounded {
    border-radius: 10px;
}

.icon-download {
    height: 17px;
    width: 17px;
    vertical-align: middle;
    margin-left: 5px;
    filter: invert(99%) sepia(4%) saturate(2%) hue-rotate(251deg) brightness(115%) contrast(100%); /* changing color from black to white */
}

.professional-picture {
    display: inline-block;
    max-width: 1000px; /* size of the specified image */
    width: 40vmin;
    height: auto;
    border-radius: 9%/6%;
    image-rendering: -webkit-optimize-contrast;
    box-shadow: 0.5vw 0.5vw 0.5vw #bbb;
    -moz-box-shadow: 0.5vw 0.5vw 0.5vw #bbb;
    -webkit-box-shadow: 0.5vw 0.5vw 0.5vw #bbb;
    -khtml-box-shadow: 0.5vw 0.5vw 0.5vw #bbb;
}


/* other devices */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 768px) {

    .professional-picture {
        width: 180px;
    }
    
}

@media only screen and (max-width: 600px) {

    .centered-container {
        flex-direction: column;
    }

    .info {
        order: 2;
    }
    
    .professional-picture {
        order: 1;
    }
    
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}