/* Basic */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

html
{
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #061353;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
}

.centered-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Headers */

.navbar {
    width: 100%;
    background-image: linear-gradient(#1035e8, #1035e844);
}

.navbar-container {
    display: flex;
    flex-direction: row;
}

.headers {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.5em;
}

.header {
    color: #68b4fa;
    margin: 12px 0px;
    text-decoration: none;
}

.header:hover {
    transform: scale(1.2) translateY(-3%);
}

.header.active {
    color: white;
}

.headers-side {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.headers-side.right {
    justify-content: right;
}

.localization-icon {
    display: inline-block;
    background-image: url("../images/translation-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    filter: invert(68%) sepia(14%) saturate(2352%) hue-rotate(181deg) brightness(100%) contrast(97%);  /* changing color from black to #68b4fa */
}

/* Intro */

.background-indexpage {
    background-image: url("../images/backgrounds/pexels-marta-branco-1194713_lower-opacity-dark60_small.jpg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.first-div {
    flex-grow: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}

.info {
    display: inline-block;
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 100%;
}

.icons a {
    display: inline-block;
}

.icons a:hover {
    transform: scale(1.15) translateY(-3%);
}

.icon {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.black-to-blue {
    filter: invert(54%) sepia(24%) saturate(1380%) hue-rotate(183deg) brightness(93%) contrast(95%);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    column-gap: 5%;
    row-gap: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button {
    border: 1px solid #68b4fa;
    text-decoration: none;
    color: white;
    padding: 8px 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px #002cf1;
    -moz-box-shadow: 2px 2px 2px #002cf1;
    -webkit-box-shadow: 2px 2px 2px #002cf1;
    -khtml-box-shadow: 2px 2px 2px #002cf1;
}

.button:hover {
    transform: scale(1.02) translateY(-3%);
}

.fill-1 {
    background-color: #1035e844;
}

.fill-2 {
    background-color: #2076f870;
}

.rounded {
    border-radius: 10px;
}

.icon-download {
    height: 17px;
    width: 17px;
    vertical-align: middle;
    margin-left: 5px;
    filter: invert(99%) sepia(4%) saturate(2%) hue-rotate(251deg) brightness(115%) contrast(100%); /* changing color from black to white */
}

.professional-picture {
    display: inline-block;
    max-width: 1000px; /* size of the specified image */
    width: 40vmin;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
}


/* Credit */

.background-credit {
    color: #aaa;
    font-size: 10px;
    text-align: right;
}

.background-credit a {
    color: #aaa;
}

/* other devices */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 768px) {

    .professional-picture {
        width: 180px;
    }
    
}

@media only screen and (max-width: 600px) {

    .main-container.first-div {
        flex-direction: column;
    }

    .info {
        order: 2;
    }
    
    .professional-picture {
        order: 1;
    }
    
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}